@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

::-webkit-scrollbar {
  display: none;
}

.App {
  width: 100vw;
  text-align: center;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.main-container {
  display: flex;
  max-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.image {
  height:100vh;
  width: 50vw;
  filter: brightness(30%); 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

.artist-name {
  font-size: 2.5vw;
  padding: 3px;
}

.has {
  font-size: 1.25vw;
  padding: 3px;
}

.number {
  font-size: 3.5vw;
  color: yellow;
  padding: 3px;
}

.circle {
  background-color: white;
  border-radius: 360px;
  padding: 3.5vw;
  height: 0vw;
  width: 0vw;
  font-family: 'Montserrat', sans-serif;
  color: #282c34;
  font-size: 2.25vw;
}

.right {
  background: #1DB954;
  color: #fafafa;
}

.tick {
  width: 3.5vw;
  height: 3.5vw;
}

.wrong {
  background: red;
}

.score {
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  position: absolute;
  top: 92.5%;
  right: 1%;
}

.image-container {
  position: "relative",
}

.custom-button {
  background-color: rgba(0,0,0,0);
  color: yellow;
  padding: 1vw 5vw;
  border-radius: 30px;
  border: solid;
  border-width: 3px;
  border-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25vw;
  display: flex;
}

.custom-button:hover {
  color:  rgba(0,0,0,1);
  background-color: #fafafa;
  cursor: pointer;
}

.higher {
  color: green;
}

.lower {
  color: red;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.button-container {
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-buffer {
  padding-top: 10px;
}

.source {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75vw;
  position: absolute;
  top: 96.5%;
  right: 1%;
}

.spotify {
  color: #1DB954;
}

@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
    padding: 0;
  }
  .image {
    max-height:50vh;
    min-width: 100vw;
    filter: brightness(40%);
  }
  .circle {
    padding: 5vw;
    font-size: 3.5vw;
  }
  .custom-button {
    border-width: 1.5px;
    font-size: 0.25vw;
  }
  .button-buffer {
    padding-top: 5px;
  }
  .button-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .score {
    top: 96%;
    font-size: 2.5vw;
  }
  .source {
    top: 98%;
  }
}

/* https://codepen.io/angelmm/pen/grdXYe */